node_modules
.env
.next/build-manifest.json
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/6.pack
.next/cache/webpack/client-development/7.pack
.next/cache/webpack/client-development/8.pack
.next/cache/webpack/client-development/9.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/10.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/3.pack
.next/cache/webpack/server-development/4.pack
.next/cache/webpack/server-development/5.pack
.next/cache/webpack/server-development/6.pack
.next/cache/webpack/server-development/7.pack
.next/cache/webpack/server-development/8.pack
.next/cache/webpack/server-development/9.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/package.json
.next/react-loadable-manifest.json
.next/server/_error.js
.next/server/font-loader-manifest.js
.next/server/font-loader-manifest.json
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/pages-manifest.json
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/games/ticTacToe.js
.next/server/pages/games/xenoClicker.js
.next/server/pages/index.js
.next/server/webpack-runtime.js
.next/static/chunks/_error.js
.next/static/chunks/amp.js
.next/static/chunks/main.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/games/ticTacToe.js
.next/static/chunks/pages/games/xenoClicker.js
.next/static/chunks/pages/index.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/Inter-Bold.2afedc73.woff2
.next/static/media/Inter-Light.15e3880f.woff2
.next/static/media/Inter-Regular.afe848f8.woff2
.next/static/media/login.a2b46cae.jpg
.next/static/media/Lora-Bold.1242f6d2.woff2
.next/static/media/Lora-Italic.f88d8519.woff2
.next/static/media/Lora-Regular.1446ea4a.woff2
.next/static/media/mario.c8564661.jpg
.next/static/media/signup.3b5cc2d4.jpg
.next/static/webpack/04d3dfc1917c46b2.webpack.hot-update.json
.next/static/webpack/2af15905e31747fd.webpack.hot-update.json
.next/static/webpack/4284e2b67c190d3e.webpack.hot-update.json
.next/static/webpack/fa3d353e8642a42a.webpack.hot-update.json
.next/static/webpack/fe158a9c8de34436.webpack.hot-update.json
.next/static/webpack/pages/index.fe158a9c8de34436.hot-update.js
.next/static/webpack/webpack.04d3dfc1917c46b2.hot-update.js
.next/static/webpack/webpack.2af15905e31747fd.hot-update.js
.next/static/webpack/webpack.4284e2b67c190d3e.hot-update.js
.next/static/webpack/webpack.fa3d353e8642a42a.hot-update.js
.next/static/webpack/webpack.fe158a9c8de34436.hot-update.js
.next/trace
.next/cache/webpack/client-development/11.pack
.next/cache/webpack/client-development/12.pack
.next/cache/webpack/server-development/11.pack
.next/static/webpack/4f6eaca309136e42.webpack.hot-update.json
.next/static/webpack/55ae3505a1eb7c92.webpack.hot-update.json
.next/static/webpack/6c6f482d665d8a1d.webpack.hot-update.json
.next/static/webpack/f147853aded6d089.webpack.hot-update.json
.next/static/webpack/pages/index.4f6eaca309136e42.hot-update.js
.next/static/webpack/pages/index.6c6f482d665d8a1d.hot-update.js
.next/static/webpack/pages/index.f147853aded6d089.hot-update.js
.next/static/webpack/webpack.4f6eaca309136e42.hot-update.js
.next/static/webpack/webpack.55ae3505a1eb7c92.hot-update.js
.next/static/webpack/webpack.6c6f482d665d8a1d.hot-update.js
.next/static/webpack/webpack.f147853aded6d089.hot-update.js
.next/cache/images/ruQWafMY4jmC+k7M-lvu7j-FfFPCh5wSvu8tPmNWBSQ=/60.1677110863833.VSaQ+riyxYYia9hWTswfql8G2V1rmKdhBl6LDDW8Qtw=.webp
.next/cache/webpack/client-development/13.pack
.next/cache/webpack/client-development/14.pack
.next/cache/webpack/client-development/15.pack
.next/cache/webpack/client-development/16.pack
.next/static/webpack/6a01b48fe6eb9739.webpack.hot-update.json
.next/static/webpack/webpack.6a01b48fe6eb9739.hot-update.js
